
        body {
            background-color: purple;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }


        .scientist {
            width: 350px;
            height: 550px;
            margin: 15px;
            background-color: white;
            padding: 5px;
            border-radius: 5px;

        }

        .common-div {
            display: flex;
            justify-content: center;


        }


        .image {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: 5px solid purple;
            display: block;
            margin: auto;
            object-fit: cover;
            margin-bottom: 15px;
        }

        .paragraph {
            text-align: justify;
            height: 200px;
            font-size: 18px;
            padding: 5px;
            margin-top: 20px;
           

        }

        .heading {
            text-align: center;
            color: purple;
            font-size: 22px;
        }

        .first {
            text-align: center;
            color: white;
            margin: 20px;
            font-size: 40px;
        }

        .last h1 {
            text-align: center;
            color: white;
            font-size: 50px;

        }

        a {
            text-decoration: none;

            border: 3px solid purple;
            margin: 10px;
            padding: 5px;
            font-size: 22px;
            border-radius: 5px;
        }

        .sub {
            background-color: purple;
            color: white;
        }

        .link {
            justify-content: center;
            display: flex;
        }
        a:hover{
            background-color: blueviolet;
        }
